# Задачи

In [ ]:
now = int(input())
sum_ = 0
while now != 0:
    sum_ += now
    now = int(input())
    if now < 0:
        break
print(sum_)

In [ ]:
i = 1
flag = False

while i <= 10:
    j = 1
    while j <= 10:
        print(i * j, end= ' | ')
        if i * j == 42:
            flag == True
            break
        j += 1
    if flag:
        break
    print()
    i += 1

In [ ]:
i = 0

while i <= 100:
    i += 2
    print(i)

In [ ]:
i = 1

while i <= 100:
    i += 1
    if i % 2 != 0:
        continue
    print(i)

In [ ]:
i = 0
while i <= 99:
    i += 1
    print(i)
else:
    print('else')

Вася уехал учиться по обмену на один семестр в Италию. Единственный магазин в городе открыт с 6 до 8 утра и с 16 до 17 вечера (включительно). Вася не мог попасть в магазин уже несколько дней и страдает от голода. Он может прийти в магазин в X часов. Если магазин открыт в X часов, то выведите True, а если закрыт - выведите False.

В единственной строке входных данных вводится целое число X, число находится в пределах от 0 до 23.

In [ ]:
x = int(input())
market = 6 <= x <= 8 or 16 <= x <= 17
print(market)

Вася не смог попасть в магазин в Италии. Несмотря на удачно подобранное время посещения магазина в этот день в городе праздновался день броколетти (цветной капусты) и магазин был закрыт по случаю праздника. Зато Вася смог купить билет до Испании за сущие копейки. В Испании есть магазин, который открыт с A до B часов включительно. Испания - жаркая страна, поэтому с C до D часов включительно наступает сиеста, когда все заведения, включая магазин, закрыты. При этом A < B, C < D. Обратите внимание, что время сиесты не обязательно полностью содержится в интервале работы магазина. Вася может прийти в испанский магазин в X часов. Выведите True если магазин открыт в это время и False, если он закрыт.

Числа A, B, C, D, X вводятся по одному в строке и находятся в пределах от 0 до 23.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
x = int(input())
market = a <= x <= b
siesta = not c <= x <= d
time = market and siesta
print(time)

Вася закупился продуктами в Испании и ему больше не грозит голодная смерть. Однако, он потратил все деньги и был вынужден устроиться на работу свинопасом в Доломитовых Альпах с графиком сутки через двое. Вася работает начиная с первого дня (т.е. работает в день 1, отдыхает в дни 2 и 3, работает в день 4, отдыхает в дни 5 и 6 и т.д.). Выведите True, если в день X Вася должен работать и False в противном случае.

В единственной строке входных данных вводится целое положительное число X. Оно может быть сколь угодно большим.

Подсказка: Внимательно изучите остаток от деления номера дня на период работы Васи.

In [ ]:
x = int(input())
work = (x % 3) % 2 != 0
print(work)

На узких улицах Турина Вася увидел автомобиль Lacia Ypsilon 1997 года выпуска и был поражен его красотой.


Чтобы заработать денег на этот автомобиль он взял себе еще одну подработку: пасти гусей сутки через трое. Таким образом, начиная с первого дня Вася пасет свиней с графиком сутки через двое (т.е. в дни 1, 4, 7 и т.д.), а также с первого дня пасет гусей с графиком сутки через трое (т.е. в дни 1, 5, 9 и т.д.). Выведите True, если в день X Вася пасет свиней и гусей одновременно и False в противном случае.

В единственной строке входных данных вводится целое положительное число X, которое может быть сколь угодно большим.

In [ ]:
x = int(input())
work_p = x % 2 != 0
work_g = x % 3 != 0
print(work_p == work_g)

In [ ]:
x = int(input())
work_p = x % 3 == 1 and x % 4 == 1
print(work_p)

Выведите слово One (обязательно с большой буквы!), если было введено число 1 и не выводите ничего если было введено любое другое число.

In [ ]:
x = int(input())
if x == 1:
    print('One')
print('')

Выведите слово One (обязательно с большой буквы!), если было введено число 1, выводите фразу Not one (также обязательно с большой буквы) если было введено любое другое число.

In [ ]:
x = int(input())
if x == 1:
    print('One')
else:
    print('Not one')

Напишите программу, которая считывает два целых числа A и B и выводит наибольшее значение из них. Числа — целые от 1 до 1000.

In [ ]:
a = int(input())
b = int(input())
if a > b:
    print(a)
else:
    print(b)

Даны два целых числа. Программа должна вывести число 1, если первое число больше второго, число 2, если второе больше первого или число 0, если они равны.

Эту задачу нужно решить с помощью конструкций if-elif

In [ ]:
a = int(input())
b = int(input())
if a > b:
    print(1)
elif a < b:
    print(2)
elif a == b:
    print(0)

В математике функция sign(x) (знак числа) определена так:

sign(x) = 1, если x > 0,
sign(x) = -1, если x < 0,
sign(x) = 0, если x = 0.

Для данного числа x выведите значение sign(x).

In [ ]:
x = int(input())
if x > 0:
    print(1)
elif x < 0:
    print(-1)
elif x == 0:
    print(0)

Даны три целых числа. Найдите наибольшее из них (программа должна вывести ровно одно целое число).

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if b <= a >= c:
    print(a)
elif a <= b >= c:
    print(b)
else:
    print(c)

Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [ ]:
year = int(input())
if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print('YES')
else:
    print('NO')

Даны три целых числа A, B, C. Выведите YES, есть ли среди них хотя бы одно четное и хотя бы одно нечетное, и NO в противном случае.

In [ ]:
a = int(input())
b = int(input())
c = int(input())
if (a % 2 == 0 or b % 2 == 0 or c % 2 == 0) and (a % 2 != 0 or b % 2 != 0 or c % 2 != 0):
        print('YES')
else:
    print("NO")

По данному целому числу N распечатайте все квадраты натуральных (целых, положительных) чисел, не превосходящие N, в порядке возрастания. Обратите внимание, что если N является полным квадратом, то его тоже нужно печатать.

In [ ]:
n = int(input())
i = 1
while i ** 2 <= n:
    print(i ** 2)
    i += 1

По данному числу N распечатайте все целые степени двойки, не превосходящие N, в порядке возрастания. Если число N является степенью двойки, то его также необходимо вывести.

In [ ]:
n = int(input())
i = 1
while i  <= n:
    print(i, end=' ')
    i *= 2

Последовательность состоит из натуральных чисел, не превосходящих 109, и завершается числом 0. Определите значение наибольшего элемента последовательности.

Формат ввода
Вводится последовательность целых чисел, оканчивающаяся числом 0 (само число 0 в последовательность не входит, а служит как признак ее окончания).

Формат вывода
Выведите ответ на задачу.

In [ ]:
num = int(input())
max_num = 0
while num != 0:
    if num > max_num:
        max_num = num
    num = int(input())
print(max_num)

Последовательность состоит из натуральных чисел и завершается числом 0. Определите, сколько элементов этой последовательности больше предыдущего элемента.

Формат ввода
Вводится последовательность целых чисел, оканчивающаяся числом 0 (само число 0 в последовательность не входит, а служит как признак ее окончания).

Формат вывода
Выведите ответ на задачу.

Подсказка
Обработайте первое число до цикла и сохраните его в отдельную переменную (предыдущее число). Проверьте, что ваша программа правильно работает для пустой последовательности.

In [ ]:
# previous = int(input())
# next_ = int(input())
# count = 0

# if next_ > previous:
#     count += 1
# next_ = previous

# while next_ != 0:
#     next_ = int(input())
#     if next_ > previous:
#         count += 1
#     previous = next_
# print(count)

In [ ]:
previous = int(input())
next_ = int(input())
count = 0

while next_ != 0:
    if next_ > previous:
        count += 1
    previous = next_
    next_ = int(input())
print(count)

Последовательность состоит из натуральных чисел и завершается числом 0. Определите, какое количество элементов этой последовательности, равны ее наибольшему элементу.

Формат ввода
Вводится последовательность целых чисел, оканчивающаяся числом 0 (само число 0 в последовательность не входит, а служит как признак ее окончания).

Формат вывода
Выведите ответ на задачу.

Подсказка
Обработайте первое число до цикла. Проверьте случай пустой последовательности. Не забывайте устанавливать счетчик максимальных элементов в единицу при обновлении максимума.

In [ ]:
number = int(input())
max_number = number
count = 0

while number != 0 and number != ' ':
    number = int(input())
    if number > max_number:
        max_number = number
        count = 1
    elif number == max_number:
        count += 1
print(count)

Дано несколько чисел. Подсчитайте, сколько из них равны нулю, и выведите это количество.

Формат ввода
Cначала вводится число N, затем вводится ровно N целых чисел.

Формат вывода
Выведите ответ на задачу.

In [11]:
numbers = int(input()) 
count_n = 0
count_l = 0

while count_l < numbers:
    if int(input()) == 0:
        count_n += 1
    count_l += 1
print(count_n)

 4
 0
 6
 2
 0

2

По данному натуральному n≤9 выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до i без пробелов.

Формат ввода
Вводится натуральное число.

Формат вывода
Выведите ответ на задачу.

In [78]:
n = int(input())
i = 1

while i <= n:
    j = 1
    while j <= i:
        print(j, end='')
        j += 1
    print()
    i += 1

 6

1
12
123
1234
12345
123456

Даны два целых числа A и B (при этом A≤B). Выведите все числа от A до B включительно.

Формат ввода
Вводятся два целых числа.

Формат вывода
Выведите ответ на задачу.

In [101]:
number_1 = int(input())
number_2 = int(input())

while number_1 <= number_2:
    number_1 += 1
    print(number_1 - 1, end=' ')

 -100
 100

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100